@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --ss-poppins: "Poppins", sans-serif;
  --ss-font500: 500;
  --ss-font600: 600;
  --ss-font700: 700;
  --ss-font800: 800;
  --ss-fontbold: bold;
  --ss-primary: #22A652;
  --ss-secondary: #FFE824;
}

body {
  font-family: var(--ss-poppins);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #000;
  overflow-x: hidden;
}
ul, li, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
a:hover {
    color: var(--ss-secondary);
}
button {
    border: none;
    background-color: transparent;
}
.common-btn {
    padding: 0.7rem 2.5rem;
    color: #fff;
    font-size: 1.8rem;
    background: var(--ss-primary);
    border: none;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-weight: 500;
    text-transform: uppercase;
}
.common-btn span {
    vertical-align: middle;
    font-size: 3rem;
}
.common-btn:before {
    content: "";
    position: absolute;
    left: 0;
    width: 0px;
    background-color: var(--ss-secondary);
    height: 100%;
    transition: all 0.3s;
    z-index: -1;
}
.common-btn:hover:before {
    width: 100%;
}
.common-btn:hover span {
    color: var(--ss-primary) !important;
    transition: all 0.3s;
}
.common-btn:hover {
    color: #000;
}
.title-box {
    margin-bottom: 6rem;
}
.title-box h3 {
    color: var(--ss-primary);
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.title-box h4 {
    color: #000;
    font-size: 3.5rem;
    line-height: 5rem;
}
.p-100 {
    padding: 10rem 0rem;
}
.mt-100 {
    margin: 10rem 0rem;
}
/*Header CSS*/
.topbar-area {
    background-color: var(--ss-primary);
    padding: 1rem 0rem;
    color: #fff;
}
.topbar-area .topbar-left ul {
    gap: 2rem;
    align-items: center;
}
.topbar-area .topbar-left ul li p,a {
    color: #000;
    font-size: 1.4rem;
    color: #fff;
}
.topbar-area .topbar-left ul li span {
    color: var(--ss-secondary);
    vertical-align: middle;
    font-size: 1.8rem;
}
.topbar-area .topbar-right p {
    text-align: right;
    font-size: 1.4rem;
}
.marquee {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marqueeMove 12s linear infinite;
}
.header-area .sidenav button {
    border: none;
    background-color: #E1E6F0;
    font-size: 2.5rem;
    border-radius: 5rem;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: 3rem;
}
.header-area .navbar a {
    color: #000;
    font-size: 1.6rem;
    text-transform: uppercase;
}
.header-area .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}
.header-area .navbar-nav {
    gap: 2.5rem;
}
.header-area .navbar-nav .active {
    color: var(--ss-primary);
    position: relative;
}
.header-area .navbar-nav .active:before {
    content: "";
    position: absolute;
    left: -2.5rem;
    background: url(../images/menu-icon.png) no-repeat;
    width: 2rem;
    height: 2rem;
}
.header-area .navbar-nav a:hover {
    color: var(--ss-primary);
}
.header-area .navbar-nav .dropdown-menu {
    padding: 0;
    border-radius: 0;
}
.header-area .navbar-nav .dropdown-menu .dropdown-item {
    padding: 1rem 2rem;
}
.header-area .common-btn {
    margin-left: 2.5rem;
}
/*Header CSS*/

/*Banner CSS*/
.banner-area {
    background: url(../images/banner.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 15rem 0rem;
    position: relative;
}
.banner-area:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #00000070;
}
.banner-area:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
    transform: rotate(180deg);
    background: url(../images/banner-line.png) no-repeat;
}
.banner-area .banner-content {
    max-width: 67rem;
    position: relative;
}
.banner-area .banner-content h1 {
    font-size: 7rem;
    color: #fff;
}
.banner-area .banner-content span {
    color: var(--ss-secondary);
}
.banner-area .banner-content p {
    color: #fff;
    font-size: 1.8rem;
    margin: 4rem 0rem;
}
/*Banner CSS*/

/*Activity CSS*/
.activity-area .title-box {
    max-width: 75rem;
}
.activity-area .activity-box {
    padding: 7rem 4rem;
    position: relative;
}
.activity-area .row .col-md-6:nth-child(1) .activity-box {
  background: #307AD5;
}
.activity-area .row .col-md-6:nth-child(2) .activity-box {
  background: #FF922E;
}
.activity-area .row .col-md-6:nth-child(3) .activity-box {
  background: #33BFFF;
}
.activity-area .row .col-md-6:nth-child(4) .activity-box {
  background: #D94DA6;
}
.activity-area .activity-box::before {
    content: "";
    position: absolute;
    top: -5px;
    background: url(../images/activity-effect.png) no-repeat;
    width: 100%;
    height: 3rem;
    left: 0;
    right: 0;
    background-size: contain;
    transform: rotate(180deg);
}
.activity-area .activity-box::after {
    content: "";
    position: absolute;
    bottom: -5px;
    background: url(../images/activity-effect.png) no-repeat;
    width: 100%;
    height: 3rem;
    left: 0;
    right: 0;
    background-size: contain;
}
.activity-area .activity-box h3 {
    color: #fff;
    font-size: 2.2rem;
}
.activity-area .activity-box img {
    margin: 3rem 0rem 4rem;
    width: 100%;
    max-height: 12rem;
    object-fit: cover;
    border-radius: 0.5rem;
}
.activity-area .activity-box p {
    font-size: 1.4rem;
    color: #fff;
}
.activity-area .activity-boy {
    top: 0;
    right: 0;
    z-index: -1;
}
/*Activity CSS*/

/*About CSS*/
.about-area {
    background: linear-gradient(
    90deg,
    #E5FFF3 0%,
    #FDF2EF 60%,
    #FDF2EF 100%
    );
    position: relative;
}
.about-area:before {
    content: "";
    position: absolute;
    background: url(../images/banner-line.png) no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 4rem;
    top: 0;
}
.about-area .container {
    padding: 0rem 10rem 8rem;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
    border-radius: 0rem 0rem 1.5rem 1.5rem;
}
.about-area .about-left img {
    border-radius: 0rem 0rem 5rem 5rem;
}
.about-area .about-right {
    float: right;
}
.about-area .about-right .about-box {
    padding: 2.4rem 4rem;
    background-color: var(--ss-primary);
    max-width: 40rem;
    border-radius: 0rem 10rem 10rem 0rem;
}
.about-area .about-right .about-box ul li h3 {
    font-size: 4rem;
    font-weight: 600;
    color: #fff;
}
.about-area .about-right .about-box ul li p {
    color: #fff;
    font-size: 1.4rem;
    margin-top: 1rem;
}
.about-area .about-right .about-box ul {
    justify-content: space-between;
}
.about-area .about-right .about-content {
    font-size: 1.6rem;
    color: #000;
    margin: 3rem 0rem;
    max-width: 70rem;
    line-height: 3rem;
}
/*About CSS*/

/*Program CSS*/
.program-area {
    padding-bottom: 6rem;
    z-index: 1;
}
.program-area .program-boy {
    position: absolute;
    top: 10%;
    left: 0;
    z-index: -1;
}
.program-area .title-box {
    text-align: right;
}
.program-area .program-swiper h3 {
    font-size: 2.2rem;
    font-weight: 500;
    padding-top: 3rem;
}
.program-area .program-swiper h4 {
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
    background: url(../images/program-bg.png) no-repeat;
    background-position: center;
    padding: 1rem;
    margin: 2rem 0rem 2.5rem;
}
.program-area .program-swiper p {
    font-size: 1.6rem;
}
.program-area .program-swiper {
    padding-bottom: 4rem;
}
.program-area .swiper-box {
    background-color: #fff;
    border: 1px solid;
    border-radius: 1.5rem;
    position: relative;
}
.program-area .swiper-box p {
    max-width: 23rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4rem;
}
.program-area .swiper-box .swiper-content {
    position: relative;
}
.program-area .swiper-box .swiper-content:after {
    position: absolute;
    content: "";
    background: url(../images/program-design.png) no-repeat;
    background-position: center;
    top: -4rem;
    width: 100%;
    height: 4rem;
    left: 0;
}
.program-area .swiper-slide:nth-child(1) .swiper-box {
  border-color: #33BFFF;
}
.program-area .swiper-slide:nth-child(2) .swiper-box {
  border-color: #EB3EA9;
}
.program-area .swiper-slide:nth-child(3) .swiper-box {
  border-color: #FF922E;
}
.program-area .swiper-slide:nth-child(4) .swiper-box {
  border-color: #307AD5;
}
.program-area .program-btn {
    width: 5rem;
    height: 5rem;
    background-color: aqua;
    border-radius: 5rem;
    font-size: 2rem;
    color: #fff;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
}
.program-area .swiper-slide:nth-child(4n+1) .swiper-box .program-btn {
    background-color: #33BFFF;
}
.program-area .swiper-slide:nth-child(4n+2) .swiper-box .program-btn {
    background-color: #EB3EA9;
}
.program-area .swiper-slide:nth-child(4n+3) .swiper-box .program-btn {
    background-color: #FF922E;
}
.program-area .swiper-slide:nth-child(4n+4) .swiper-box .program-btn {
    background-color: #307AD5;
}
.program-area .swiper-content {
    padding-bottom: 4rem;
}
.program-area .swiper-slide:nth-child(2n) .swiper-box {
  margin-top: 4.5rem;
}
/*Program CSS*/

/*Award CSS*/
.award-area {
    background: linear-gradient(
        90deg,
        #E5FFF3 0%,
        #FDF2EF 60%,
        #FDF2EF 100%
    );
    padding-bottom: 6rem;
    z-index: 1;
}
.award-area .award-swiper {
    padding-bottom: 4rem;
}
.award-area .cap-pic {
    position: absolute;
    right: 5%;
    z-index: -1;
}
.award-area .title-box {
    max-width: 90rem;
}
.award-area .swiper-content h3 {
    color: #000;
    font-size: 2.2rem;
}
.award-area .swiper-content {
    padding: 2rem;
}
.award-area .swiper-content p {
    color: #666666;
    font-size: 1.5rem;
    line-height: 2.6rem;
    margin: 1.5rem 0rem 2rem;
}
.award-area .swiper-box {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
    border-radius: 1.5rem;
}
.award-area .swiper-box ul {
    gap: 1rem;
    align-items: center;
}
.award-area .swiper-box ul li span {
    color: #666666;
    font-size: 1.4rem;
}
.award-area .swiper-box ul li span a {
    color: var(--ss-primary);
}
.award-area .swiper-box .swiper-content {
    position: relative;
    background-color: #fff;
    border-radius: 0rem 0rem 1.5rem 1.5rem;
}
.award-area .swiper-box .swiper-content:after {
    position: absolute;
    content: "";
    background: url(../images/program-design.png) no-repeat;
    background-position: center;
    top: -4rem;
    width: 100%;
    height: 4rem;
    left: 0;
}
.award-area:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
    background: url(../images/banner-line.png) no-repeat;
    transform: rotate(180deg);
}
/*Advisor Area*/
.advisor-area {
    padding-bottom: 6rem;
    z-index: 1;
}
.advisor-area .advisor-tree {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.advisor-area .swiper-box img {
    width: 100%;
}
.advisor-area .title-box {
    text-align: right;
}
.advisor-area .advisor-swiper h3 {
    font-size: 2.2rem;
    font-weight: 500;
    padding-top: 3rem;
}
.advisor-area .advisor-swiper h4 {
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
    background: url(../images/program-bg.png) no-repeat;
    background-position: center;
    padding: 1rem;
    margin: 2rem 0rem 2.5rem;
}
.advisor-area .advisor-swiper p {
    font-size: 1.6rem;
}
.advisor-area .advisor-swiper {
    padding-bottom: 4rem;
}
.advisor-area .swiper-box {
    background-color: #fff;
    border: 1px solid #33BFFF;
    border-radius: 1.5rem;
    position: relative;
}
.advisor-area .swiper-box p {
    max-width: 23rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4rem;
}
.advisor-area .swiper-box .swiper-content {
    position: relative;
    padding-bottom: 2rem;
}
.advisor-area .swiper-box .swiper-content:after {
    position: absolute;
    content: "";
    background: url(../images/program-design.png) no-repeat;
    background-position: center;
    top: -4rem;
    width: 100%;
    height: 4rem;
    left: 0;
}
.advisor-area .swiper-content p {
    font-size: 1.6rem;
    color: #666666;
    margin-bottom: 1rem;
}
.advisor-area .swiper-content p span {
    color: #33BFFF;
    margin-right: 0.5rem;
}
/*Advisor Area*/
/*Gallery Area*/
.gallery-area .swiper-slide:nth-child(2n) .slide-inner {
  transform: translateY(40px);
}
.gallery-area .swiper-slide:nth-child(3n) .slide-inner {
  transform: translateY(80px);
}
.gallery-area .gallery-content img {
    width: 100%;
}
.gallery-area .swiper-slide {
  padding-bottom: 10rem;
}
.gallery-area .slide-inner {
  transition: 0.4s ease;
}
/*Gallery Area*/
/*Events Area*/
.events-area .swiper-box .swiper-pic {
    position: relative;
}
.events-area .swiper-box .swiper-pic span {
    background-color: var(--ss-primary);
    font-size: 1.4rem;
    color: #fff;
    padding: 1rem 3rem;
    border: 0.3rem solid #fff;
    border-radius: 5rem;
    position: absolute;
    left: 2rem;
    bottom: -2.2rem;
}
.events-area .swiper-box .swiper-content h3 {
    font-size: 2.2rem;
    color: #000;
    margin-bottom: 2rem;
}
.events-area .swiper-box .swiper-content p {
    font-size: 1.6rem;
    color: #666666;
    margin-bottom: 3rem;
}
.events-area .swiper-box .swiper-content h5 {
    font-size: 1.4rem;
    color: #666666;
}
.events-area .swiper-box .swiper-content h5 span {
    color: var(--ss-primary);
}
.events-area .swiper-slide:nth-child(4n+1) .swiper-content h5 span {
    color: #33BFFF;
}
.events-area .swiper-slide:nth-child(4n+2) .swiper-content h5 span {
    color: #EB3EA9;
}
.events-area .swiper-slide:nth-child(4n+3) .swiper-content h5 span {
    color: #FF922E;
}
.events-area .swiper-slide:nth-child(4n+4) .swiper-content h5 span {
    color: #307AD5;
}
.events-area .swiper-slide:nth-child(4n+1) .swiper-pic span {
    background-color: #33BFFF;
}
.events-area .swiper-slide:nth-child(4n+2) .swiper-pic span {
    background-color: #EB3EA9;
}
.events-area .swiper-slide:nth-child(4n+3) .swiper-pic span {
    background-color: #FF922E;
}
.events-area .swiper-slide:nth-child(4n+4) .swiper-pic span {
    background-color: #307AD5;
}
.events-area .swiper-box .swiper-content .events-btn {
    width: 5rem;
    height: 5rem;
    background-color: var(--ss-primary);
    border-radius: 5rem;
    font-size: 2rem;
    color: #fff;
    position: absolute;
    right: 3%;
    bottom: 2%;
}
.events-area .swiper-slide:nth-child(4n+1) .swiper-box .events-btn {
    background-color: #33BFFF;
}
.events-area .swiper-slide:nth-child(4n+2) .swiper-box .events-btn {
    background-color: #EB3EA9;
}
.events-area .swiper-slide:nth-child(4n+3) .swiper-box .events-btn {
    background-color: #FF922E;
}
.events-area .swiper-slide:nth-child(4n+4) .swiper-box .events-btn {
    background-color: #307AD5;
}
.events-area .swiper-box {
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.08);
    border-radius: 0rem 0rem 3.5rem;
}
.events-area .swiper-content {
    padding: 5rem 2rem 2rem;
}
.events-area {
    padding-bottom: 6rem;
}
.events-area .events-swiper {
    padding-bottom: 4rem;
}
.gallery-events-area {
    background: linear-gradient(
    90deg,
    rgba(229,255,243,0) 0%,
    #FDF2EF 40%,
    #FFFFFF 100%
    );
    position: relative;
}
.gallery-events-area::before {
    content: "";
    position: absolute;
    background: url(../images/banner-line.png) no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 4rem;
    top: 0;
}
.gallery-area {
    padding-top: 10rem;
}
.gallery-area .gallery-bg {
    position: absolute;
    top: 50%;
}
/*Events Area*/
/*Footer Area*/
.footer-area {
    background: url(../images/footer-bg.png) no-repeat;
    background-position: top;
    background-size: cover;
    padding-top: 29rem;
}
.footer-area .footer-left p {
    color: #fff;
    font-size: 1.6rem;
    margin-top: 1rem;
    max-width: 40rem;
}
.footer-area .footer-left ul li button {
    background-color: #fff;
    color: #000;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 5rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-area .footer-left ul {
    gap: 1rem;
    margin-top: 3rem;
}
.footer-area .footer-left ul li button:hover {
    background-color: var(--ss-secondary);
}
.footer-area .footer-left .cloud-pic {
    right: 0;
    animation: floatCloud 6s ease-in-out infinite;
}
.footer-area .footer-left .play-girl {
    right: -7rem;
    bottom: -4rem;
    animation: girlMove 3s ease-in-out infinite;
}
.footer-area .footer-middle .footer-links ul {
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 3rem;
}
.footer-area .footer-middle .footer-links ul li a {
    font-size: 1.6rem;
}
.footer-area .footer-middle .footer-links h3 {
    color: var(--ss-secondary);
    font-size: 2.2rem;
    font-weight: 500;
}
.footer-area .footer-middle .row {
    gap: 8rem;
}
.footer-area .footer-right h3 {
    color: var(--ss-secondary);
    font-size: 2.2rem;
    font-weight: 500;
}
.footer-area .footer-right .row {
    margin-top: 3rem;
    row-gap: 1.5rem;
}
.footer-area .footer-right .gallery-content img {
    max-height: 9rem;
    width: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}
.footer-area .copyright-text {
    font-size: 1.4rem;
    color: #fff;
    border-top: 1px solid #CECECE;
    padding: 4rem 0rem;
    margin-top: 4rem;
}
.footer-area .copyright-text span {
    color: var(--ss-secondary);
}
.footer-area .footer-middle .play-boy {
    right: 4rem;
    bottom: -9rem;
    animation: boyFloat 3s ease-in-out infinite;
}

/*Resposive CSS*/
@media (min-width: 1700px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1580px;
  }
}
@media (max-width: 1700px) {
    .about-area .container {
        padding: 0rem 5rem 4rem;
    }
    .about-area .about-right .title-box {
        margin-bottom: 3rem;
    }
}
@media (max-width: 1399px) {
}
@media (min-width: 1400px) {
    .about-area .row {
        align-items: end;
    }
}
@media (max-width: 1199px) {
    .topbar-area .topbar-left ul {
        gap: 1rem;
        justify-content: center;
    }
    .banner-area .banner-content h1 {
        font-size: 5rem;
    }
    .banner-area {
        padding: 12rem 0rem;
    }
    .activity-area .activity-box {
        padding: 7rem 2rem;
    }
    .activity-area .activity-box::before {
        top: -12px;
    }
    .activity-area .activity-box::after {
        bottom: -12px;
    }
    .about-left {
        height: 100%;
    }
    .about-left img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .about-area .row {
        align-items: stretch;
    }
    .about-area .container {
        padding: 4rem 2rem 4rem;
    }
    .footer-area .footer-left .play-girl {
        display: none;
    }
    .footer-area .footer-middle .play-boy {
        right: -5rem;
        bottom: -11rem;
    }
}
@media screen and (max-width: 991px) {
    .offcanvas .dropdown-menu {
        position: static !important;
        float: none;
        width: 100%;
        transform: translate3d(0px, 0px, 0px) !important;
  }
  .offcanvas ul li a {
    font-size: 1.6rem;
  }
  .offcanvas ul li {
    border-bottom: 1px solid var(--ss-primary);
    padding: 1rem 0rem;
  }
  .header-area .navbar-nav {
        gap: 0;
    }
    .dropdown-menu {
        border: none;
        background-color: #f6f6f6;
    }
    .dropdown-menu li {
        padding: 0 !important;
        border: none !important;
    }
    .offcanvas ul li:last-child {
        border-bottom: 0px solid var(--ss-primary);
    } 
    .activity-area .row {
        row-gap: 2rem;
    }
    .activity-area .activity-boy {
        max-width: 30%;
    }
    .p-100 {
        padding: 5rem 0rem;
    }
    .mt-100 {
        margin: 5rem 0rem;
    }
    .title-box h4 {
        font-size: 3rem;
        line-height: 4.5rem;
    }
    .program-area .program-boy {
        max-width: 15%;
    }
    .award-area .cap-pic {
        right: 0%;
        max-width: 20%;
    }
    .advisor-area .advisor-swiper {
        padding-bottom: 0rem;
    }
    .events-area {
        padding-bottom: 0rem;
    }
    .footer-area .footer-middle .row {
        gap: 3rem;
    }
    .footer-area .footer-left {
        margin-bottom: 4rem;
    }
    .footer-area .footer-right .row {
        margin-top: 2rem;
    }
    .footer-area .footer-middle .footer-links ul {
        margin-top: 2rem;
    }
    .footer-area .footer-middle .play-boy {
        right: 0rem;
        bottom: -5rem;
    }
    .footer-area .copyright-text {
        padding: 3rem 0rem;
        margin-top: 3rem;
    }
    .footer-area .footer-left .cloud-pic {
        right: 40%;
    }
}
@media screen and (min-width: 992px) {
    .header-area .navbar-nav .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
        transition: all 0.3s ease;
  }
  .header-area .navbar-nav .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .header-area .navbar .dropdown-menu {
    top: calc(100% + 3.6rem);
  }
}
@media screen and (min-width: 768px) {

}
@media screen and (max-width: 767px) {
    .banner-area .banner-content h1 {
        font-size: 3rem;
        line-height: 4.4rem;
    }
    .banner-area .banner-content p {
        font-size: 1.6rem;
        margin: 2rem 0rem 4rem;
        line-height: 2.6rem;
    }
    .banner-area {
        padding: 7rem 0rem 12rem;
    }
    .title-box h4 {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
    .title-box {
        margin-bottom: 3rem;
    }
    .activity-area .activity-box::before {
        top: -2px;
    }
    .activity-area .activity-box::after {
        bottom: -2px;
    }
    .about-area .about-right {
        float: none;
        margin-top: 4rem;
    }
    .about-area .about-left img {
        border-radius: 0rem;
    }
    .about-area .about-right .about-box {
        padding: 2.4rem 3rem;
        max-width: 100%;
    }
    .about-area .about-right .about-box ul {
        flex-direction: column;
        row-gap: 2rem;
    }
    .award-area .swiper-pic img {
        width: 100%;
    }
    .award-area .swiper-box .swiper-content:after {
        background-size: cover;
    }
    .gallery-area .swiper-slide {
        padding-bottom: 0rem;
    }
    .footer-area .footer-right {
        margin-top: 4rem;
    }
    .footer-area .footer-left .cloud-pic {
        right: 11%;
        top: 15%;
    }
    .footer-area {
        background: none;
        padding-top: 2rem;
        background-color: var(--ss-primary);
    }
    .footer-area .footer-left p {
        font-size: 1.4rem;
        line-height: 2.6rem;
    }
    .footer-area .footer-middle .footer-links ul li a {
        font-size: 1.4rem;
    }
    .footer-area .footer-right .gallery-content img {
        border-radius: 0.5rem;
    }
    .activity-area .activity-box::after {
        height: 4rem;
    }
    .activity-area .activity-box::before {
        height: 4rem;
    }
    .about-area:before {
        display: none;
    }
    .about-area .container {
        padding: 0rem 2rem 0rem;
    }
    .about-area .container {
        box-shadow: none;
    }
    .program-area .swiper-pic img {
        width: 100%;
    }
    .award-area:after {
        display: none;
    }
    .gallery-events-area::before {
        display: none;
    }
    .gallery-area {
        padding-top: 5rem;
    }
    .footer-area .copyright-text {
        padding: 2rem 0rem;
        margin-top: 2rem;
    }
    .banner-area:after {
        bottom: -1px;
    }
    .activity-area .activity-box::before {
        display: none;
    }
    .activity-area .activity-box::after {
        display: none;
    }
    .activity-area .activity-box {
        padding: 4rem 2rem;
        border-radius: 0.5rem;
    }
    .advisor-area .swiper-box .swiper-content:after {
        background-size: cover;
        height: 6rem;
        top: -6rem;
    }
    .program-area .swiper-box .swiper-content:after {
        background-size: cover;
        height: 6rem;
        top: -6rem;
    }
}
@media screen and (max-width: 575px) {
    
}
@media screen and (max-width: 480px) {
    
}
@media screen and (max-width: 375px) {
    
}